.form {
	background-color: #fff;
	border-radius: 8px;
	padding: 40px 50px 80px;
	box-shadow: 0 10px 38px rgba(#939598, 0.42);

	&__title {
		line-height: 24px;
		margin-bottom: 26px;
	}

	&__input {
		margin-top: 16px;
	}

	&__button {
		margin-top: 27px;
	}

	&__checkbox-wrap {
		margin: 27px -10px 0;
	}
}

@include media-breakpoint-down(sm) {
	.form {
		padding: 20px 15px;

		&__checkbox-wrap {
			max-width: 180px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}